.order-list-title {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Alegreya Sans SC", sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    margin-right: 10px;
    font-family: "Alegreya Sans SC", sans-serif;
}

.search-bar .search-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    font-family: "Alegreya Sans SC", sans-serif;
    cursor: pointer;
    border-radius: 10px;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.order-table th, .order-table td {
    padding: 15px;
    text-align: left;
    font-family: "Alegreya Sans SC", sans-serif;
    border-bottom: 1px solid #ddd;
}

.order-table th {
    background-color: #f2f2f2;
    color: green;
}

.view-btn, .delete-btn, .confirm-btn {
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
}

.view-btn {
    background-color: #007bff;
}

.delete-btn {
    background-color: #dc3545;
}
.confirm-btn {
    background-color: #21da5f;
}

.view-btn:hover,.delete-btn:hover{
    opacity: 0.8;
    color: #000;
}
.confirm-btn:hover{
    opacity: 0.8;
    color: #000;
}

/* Styles for product details in table rows */
.order-table td .product-detail {
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Adds a line under each detail */
}

.order-table td .product-detail:last-child {
    border-bottom: none; /* Removes the line for the last detail */
}
