.delivery-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

.delivery-table th, .delivery-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden;    /* Hide overflow if the content is too wide */
    text-overflow: ellipsis; /* Add ellipsis (...) if content is too wide */
}

.delivery-table th {
    background-color: #032e61;
}

.delivery-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.details-btn, .view-btn, .delete-btn, .confirm-btn {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.search-btn {
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}

.delivery-details {
    padding-top: 10px;
}

.product-detail {
    font-size: 14px;
    padding: 5px 0;
}
