/* css/EmployeeDashboard.css */

.employee-dashboard-container {
    padding: 20px;
}

.employee-dashboard-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-new-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.add-new-btn:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
}


.employee-table th, .employee-table td {
    border: 1px solid #610dcf;
    padding: 8px;
    
}

.employee-table th {
    background-color: #f4f4f4;
    background-color: #032e61;
}

.employee-table img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
}

.view-btn, .delete-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
}

.view-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}

.loading {
    font-size: 18px;
    color: #007BFF;
}
